<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Hi</title>
</head>
<body>
<div ng-controller="orderPageCtrl">
    <table tr-ng-grid="" items="myItems" selected-items="mySelectedItems" selection-mode="MultiRow">
    </table>
    Order
    <table tr-ng-grid="" items="mySelectedItems" fields="['id','allergens','currency','details','name']">
        <thead>
        <tr>
            <th>
                <div class="tr-ng-title">
                    count
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <input type="number" ng-value="input" ng-model="input" ng-init="gridItem.count=1"
                       ng-change="gridItem.count=input">
                </input>
            </td>
        </tr>
        </tbody>
    </table>
    <p>Name : <input type="text" ng-model="favorite.name">
        </input>
    </p>
    <p>
    <button type="button" class="btn btn-primary" ng-click="makeFavorite()">
        make Favorite
    </button>
    </p>
    <p>
    <button type="button" class="btn btn-primary" ng-click="orderNow()">
        Order
    </button>
    </p>
</div>
</body>
</html>