ownLibs/build/*
.gradle/*
.settings/*
.idea/*
src/main/docker/SpringBootDocker.jar

.gradle/
.idea/
/build/

Billing/src/test/
Eureka/src/test/resources/
Master/src/test/groovy/
Master/src/test/resources/
Order/src/main/java/Order/Loader/
Order/src/main/java/Order/Querys/
Order/src/test/groovy/
Order/src/test/resources/
app/
associations/build/dependency-cache/
associations/build/libs/
associations/build/tmp/compileJava/
associations/src/main/resources/
associations/src/test/
complete/src/test/resources/
cookbook/src/main/webapp/
cookbook/src/test/resources/
cookbookConsumer/src/main/webapp/
cookbookConsumer/src/test/resources/
e2e-tests/
feign-client/src/main/groovy/
feign-client/src/test/
feign-server/src/main/docker/
feign-server/src/main/groovy/
feign-server/src/main/webapp/
feign-server/src/test/
ownLibs/build/
ownLibs/src/test/
slimEurekaClient/src/main/groovy/
slimEurekaClient/src/test/
src/
testclient/src/main/java/
testclient/src/main/resources/
testclient/src/test/
