<div ng-controller="listController" ng-init="init(topic.listPath)">
    <div loading-container="tableParams.settings().$loading">
        <table ng-table="tableParams" class="table table-condensed table-bordered table-striped" show-filter="true">
            <tr ng-repeat="rowItem in $data">
                <td title="'No'" filter="{ id: 'number'}" sortable="'id'">
                    <input type="number" class="form-control input-sm" ng-model="rowItem.id"/></td>
                <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                    <input type="text" class="form-control input-sm" ng-model="rowItem.name"/></td>
                <td title="'E-m@il'" filter="{ mail: 'text'}" sortable="'mail'">
                    <input type="text" class="form-control input-sm" ng-model="rowItem.mail"/></td>
                <td title="'Order'" >
                    <div ng-repeat="rowItem2 in rowItem.orders.all">
                        <a ng-href="http://localhost:8080/Item/{{rowItem2.id}}">
                            {{rowItem2.id}}
                        </a>
                    </div>
                </td>
                <td title="'Favorites'" >
                    <div ng-repeat="rowItem2 in rowItem.favorites.all">
                        <a ng-href="http://localhost:8080/Item/{{rowItem2.id}}">
                            {{rowItem2.id}}
                        </a>
                    </div>
                </td>
                <td>
                    <button class="btn btn-primary btn-sm" ng-click="demo.save(row, rowForm)" ng-if="row.isEditing" ng-disabled="rowForm.$pristine || rowForm.$invalid"><span class="glyphicon glyphicon-ok"></span></button>
                    <button class="btn btn-default btn-sm" ng-click="demo.cancel(row, rowForm)" ng-if="row.isEditing"><span class="glyphicon glyphicon-remove"></span></button>
                    <button class="btn btn-default btn-sm" ng-click="row.isEditing = true" ng-if="!row.isEditing"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button class="btn btn-danger btn-sm" ng-click="demo.del(row)" ng-if="!row.isEditing"><span class="glyphicon glyphicon-trash"></span></button>
                    <button class="btn btn-info btn-sm" ng-click="demo.details(row)"><span class="glyphicon glyphicon-th-list"></span></button>
                </td>
        </table>
    </div>
</div>