<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Hi</title>
</head>
<body>
<div ng-controller="mainPageCtrl">
    <table tr-ng-grid="" items="order.positions.all" >
    </table>
    <table tr-ng-grid="" items="bankAccounts" selected-items="mySelectedAccount" selection-mode="SingleRow" fields="['id','ammount','bank.one.name']">
    </table>
    <table tr-ng-grid="" items="banks"  fields="['id','name']">
        <thead>
        <tr>
            <th>
                <div class="tr-ng-title">
                        make Bank Account
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <button type="button" class="btn btn-primary" ng-click="makeBankAccount(gridItem.id)">
                    make
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <table tr-ng-grid="" items="mySelectedAccount" fields="['id','ammount','bank.one.name']">
        <thead>
        <tr>
            <th>
                <div class="tr-ng-title">
                    Pay Order
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <button type="button" class="btn btn-primary" ng-click="pay(gridItem.id)">
                    Pay
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>